h1, h2, h3, h4, h5, h6, p {
  font-family: 'Garamond', 'Georgia', 'Times New Roman', 'Courier New';
}

.bookCard {
  transition: all 0.3s ease;
  margin-bottom: 2rem;
}

.bookCard:hover {
  transform: scale(1.05);
}

.book-image {
  background-color: white;
  border-width: 0.2rem;
  border-style: solid;
  border-color: white;
  height: auto;
  width: 200px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}

.clamp-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

@media (max-width: 600px) {
    .book-image {
        width: 130px;
    }
}