.book-details-page {
    background-color: #282c34;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 3rem;
}

.book-details-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
    width: 100%;
}

.book-details-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: start;
}

.book-details-img {
    height: auto; 
    width: 25rem;
    border-radius: 10px;
}

/* Flex Implementation

.books-grid {
    display: flex;
    column-gap: 5vw;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
}
*/

.books-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-content: center;
    margin-top: 2rem;
}

@media (max-width: 600px) {
    .books-grid {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .book-details-page {
        padding: 1rem;
    }

    .book-details-container {
        grid-template-columns: 1fr;
        margin-top: 1rem;
    }

    .book-details-img {
        width: 15rem;
        margin: auto;
    }
}
